<html>
    <head>
        <style type="text/css">
            button:hover{
                background-color: red;
            }
        </style>
    </head>
    <body>
        <script type="text/html" id="table_tmpl">
            <table>
                <% for ( var nIndexRow = 0; nIndexRow < nRows; nIndexRow++ ) { %>
                    <tr>
                        <% for ( var nIndexColumn = 0; nIndexColumn < nColumns; nIndexColumn++ ) { %>
                            <td><%=nIndexRow%>:<%=nIndexColumn%></td>
                        <%}%>
                    </tr>
                <%}%>
            </table>
        </script>

        <button>Puedes hacer click sobre mi?</button>
        <button id="add">Add the table</button>
        <div id="container"></div>
        <script type="text/javascript" src="01_appendOnEachIteration.js"></script>
        <!--<script type="text/javascript" src="02_appendOnEachIterationNoDisplay.js"></script>-->
        <!--<script type="text/javascript" src="03_appendOnEachIterationHidden.js"></script>-->
        <!--<script type="text/javascript" src="04_appendOnMemory.js"></script>-->
        <!--<script type="text/javascript" src="05_documentFragment.js"></script>-->
        <!--<script type="text/javascript" src="06_templates.js"></script>-->
        <!--<script type="text/javascript" src="07_timedprocessarray.js"></script>-->
    </body>
</html>